<!DOCTYPE html>
<html>
  <head>
    <title>Inbox - Message App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Inbox</h1>

    <table>
      <tr><th>Sender</th><th>Message</th></tr>
      <% for (var i = 0; i < messages.length; i++) { %>
        <tr>
          <td><%= messages[i].sender %></td>
          <td><%= messages[i].body %></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>
