<!DOCTYPE html>
<html>
  <head>
    <title>Message App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Message App</h1>
    <p>Please log in to start messaging</p>
    <form action="/login" method="POST">
      E-Mail: <input type="text" name="email" size="25" /><br /><br />
      Magic word: <input type="password" name="password" size="25" /><br /><br />
      <input type="submit" value="Log in" />
    </form>
  </body>
</html>
